<h2>Frequently Asked Questions</h2>

<h3>What's with this bitcoin faucet crap?  Why can't I get my money
back if the seller rips me off.</h3>

<p>Because this puts you an a position of leverage.  You could
conceivably rip off the seller after he's fulfilled all his
obligations.  You're basically saying you don't trust the seller, but
they should be expected to trust you.  This isn't fair.</p>

<p>Still, there are situations where specifying a different address
may be appropriate.  For example, the buyer and seller could agree on
a different charity, or agree that the funds go to an arbitrator who
will listen to each person's side of the story.  We are considering
adding this feature.</p>

<h3>But what if the seller backs out of the deal for legitimate
reasons?</h3>

<p><em>"So I bought a MoneyPak with bitcoins.  The seller asked me to
use your site.  I uploaded all my coins.  Now he's telling me his
credit card got denied at the 7-11, and he wants to cancel the
deal."</em></p>

<p>Ideally, you would have the seller setup a new deal pointed to your
release address.  They would deposit the same amount of coins that you
did.  When the deposit is confirmed, you would release your coins.
Then they would release their coins.  You have received a safe
refund.</p>

<p>If the seller does not have enough bitcoins to cover the refund,
you may need to do this in stages.  For example, you want 20 BTC
refunded, but the seller only has 5 on hand.  You'd have them setup a
deal with 5 bitcoins.  When that has cleared, you'd release 5.  They
would send these to the same deal.  When those have been confirmed,
you'd send 5 more.  Etc.

<h3>Sure 0.025 BTC is cheap, but that's still like 2% on a 1 BTC
deal!</h3>

<p>That's not a question...</p>

<p>Yes our normally low tiered rate my be high for small deals.  In
that case you might want to skip escrow and just put your faith in the
other person.</p>

<p>When I'm mailing a package at the post office, I need to decide if
I want priority mail, tracking, insurance, etc.  Depending on the
value of the package, and it's importance, I may or may not get some
options.</p>

<p>It's the same here.  If you don't think the fee is worth it for a
small deal, then that's fine, just don't use escrow.  If you're
worried you'll get ripped off without escrow, then reconsider the cost
of 0.025 BTC.

<h3>What if a seller wants me to use your service, but I don't want to
pay the fee?</h3>

Simply get the seller to agree to cover the fee.  Then deposit the
normal amount, instead of normal amount plus commission.  If for
example, the deal is 15 BTC, just deposit 15 BTC.  When that is
confirmed, there will only be 14.975 BTC left to send to the seller.
This in effect results in the seller paying the fee.

<h3>Why do you want my email?  Isn't bitcoin about anonymous
transactions?</h3>

<p>We use your email so that we can issue automated password
resets.  This is done for your protection, so that you will not lose
money on pending deals if your password is lost or forgotten.</p>

<p>We will never send you spam, and we will never give or sell your email
address to another party.</p>

<p>We may use your email to contact you if we discover problems with
your account or a pending deal.</p>

<p>There are a variety of sites that offer disposable emails if you
are concerned about anonymity.</p>