<h1>Fee schedule</h1>

<p>We charge a tiered fee of 0.025 BTC per hundred BTCs held in
escrow.  This means that most deals should cost 0.025 BTC, less than
the price of a postage stamp.</p>

<p>Please make sure to include this fee when sending funds to the
escrow address.  For examle, if you're buying something that costs 5
BTC, send 5.025 BTC.  51.2 BTC, send 51.225 BTC.  200 BTC, send 200.05
BTC.  And so on.</p>

<p>If you do not include the fee, you will be short when the deposit
is finally confirmed, and you'll have to wait another six
confirmations to add the remaining amount.</p>

<table class=fees>
<tr><th>Amount</th><th>Fee</th></tr>
<tr><td>0.01 - 100 BTC</td><td>0.025 BTC</td></tr>
<tr><td>100.01 - 200 BTC</td><td>0.050 BTC</td></tr>
<tr><td>200.01 - 300 BTC</td><td>0.075 BTC</td></tr>
<tr><td>300.01 - 400 BTC</td><td>0.100 BTC</td></tr>
<tr><td>400.01 - 500 BTC</td><td>0.125 BTC</td></tr>
<tr><td>500.01 - 600 BTC</td><td>0.150 BTC</td></tr>
<tr><td colspan=2>Etc...</td></tr>
</table>
