<h1>Deal</h1>

<p>Unconfirmed Balance: <%= @unconfirmed_balance %></p>
<p>Confirmed Balance: <%= @confirmed_balance %></p>

<p>Coins to be sent to <%= @deal.release_address %>.</p>
<p>Add coins by sending to <%= @deal.send_address %></p>

