<h1>Transaction</h1>

<p>Unconfirmed Balance: <%= @unconfirmed_balance %></p>
<p>Confirmed Balance: <%= @confirmed_balance %></p>

<p>Coins to be sent to <%= @tx.release_address %>.</p>
<p>Add coins by sending to <%= @tx.send_address %></p>

